.showList {
  align-items: center;
  color: white;
  margin-top: 10px;
  height: 73vh;
  max-width: 100%;
  overflow-y: scroll;
  justify-content: space-evenly;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

