.show_item {
  margin-bottom: 20px;
  min-height: 295px;

  &_info {
    text-align: start;
    justify-content: space-between;

    width: 210px;

    span {
      width: 100%;
    }
  }

  &_link {
    width: 100%;
  }
}
